annotated-types
fastapi
greenlet
passlib
pillow
pydantic
pydantic[email]
python-jose[cryptography]
pydantic_core
reportlab
SQLAlchemy
starlette
uvicorn
argon2_cffi
psycopg2-binary
pydantic-settings
python-multipart